:root {
  --text-primary: #097129;
  --text-gary: rgba(55, 65, 81, 1);
  --text-gary-4: rgba(0, 0, 0, 0.4);
  --text-default: #213547;
  /* global background color */
  --bg-global: rgba(255, 255, 255, 0.5);
  --border-color-gray: rgba(229, 231, 235, 1);
  --nav-height: 55px;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
}

a:link,
a:visited,
a:hover,
a:active {
  color: var(--text-gary-4);
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6,
p {
  margin: 0;
}
